@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
  overflow: hidden;
}

#navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 5px 5vw;
  z-index: 2;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

#navbar .link {
  float: left;
  padding-top: 22px;
  position: absolute;
  top: 0;
  left: calc(25% - 90px);
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

@media screen and (max-width: 1024px) {
  #navbar .link {
    -webkit-transform: translatex(-30%);
            transform: translatex(-30%);
  }
}

#navbar .link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#navbar .link ul li {
  overflow: hidden;
}

#navbar .link ul li .en,
#navbar .link ul li .ch {
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1024px) {
  #navbar .link ul li .en,
  #navbar .link ul li .ch {
    font-size: 5pt;
  }
}

#navbar .link ul li .en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  #navbar .link ul li .en {
    letter-spacing: 2px;
  }
}

#navbar .link ul li .ch {
  position: absolute;
  top: 22px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  #navbar .link ul li .ch {
    letter-spacing: 2px;
  }
}

#navbar .link ul li a {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px;
  color: #004884;
}

#navbar .link ul li a:hover .en {
  opacity: 0;
}

#navbar .link ul li a:hover .ch {
  opacity: 1;
  z-index: 2;
}

#navbar .brand a {
  width: 75px;
  height: 75px;
  display: inline-block;
  background-image: url(./img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .brand a:hover {
  opacity: 0.75;
}

#navbar .icon {
  float: right;
  padding-right: 70px;
  position: absolute;
  right: 0;
  top: 54%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

#navbar .icon img {
  width: 20px;
}

#navbar .icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .icon a:hover {
  opacity: 0.4;
}

#navbar .order {
  float: right;
  position: absolute;
  right: 11%;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  #navbar .order {
    right: 22%;
  }
}

#navbar .order a {
  padding: 0 10px;
}

#navbar .order a img {
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
          filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .order a img:hover {
  opacity: 0.5;
}

#about-banner img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 70px;
}

@media screen and (max-width: 1024px) {
  #about-banner {
    background-size: contain;
    background-position-y: 0px;
  }
}

.title {
  text-align: center;
  position: relative;
}

.title img {
  width: 60px;
  height: 40px;
  margin: 30px 10px 0;
}

@media screen and (max-width: 767px) {
  .title img {
    width: 30px;
    height: 20px;
    margin: 30px 10px 0;
  }
}

.title h1 {
  display: inline-block;
  vertical-align: 40%;
  color: #004884;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .title h1 {
    font-size: 18px;
  }
}

#about-containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  #about-containter {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  #about-containter {
    display: inline;
  }
}

#about-containter #about-pic img {
  margin: 50px 120px;
  height: 500px;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  #about-containter #about-pic img {
    margin: 0 50px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-pic img {
    margin: 30px auto;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1025px) {
  #about-containter #about-text {
    margin: 50px 10px;
  }
}

@media screen and (max-width: 1024px) {
  #about-containter #about-text {
    margin: 50px 100px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-text {
    margin: 0px 50px 30px;
  }
}

#about-containter #about-text h1 {
  padding-top: 150px;
  font-size: 26pt;
  color: #004884;
}

@media screen and (max-width: 1024px) {
  #about-containter #about-text h1 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-text h1 {
    padding-top: 0px;
    font-size: 20pt;
  }
}

#about-containter #about-text p {
  font-size: 12pt;
  padding-right: 250px;
  color: #556f87;
}

@media screen and (max-width: 1024px) {
  #about-containter #about-text p {
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-text p {
    font-size: 10pt;
  }
}

#container {
  position: relative;
}

#container:hover #box {
  -webkit-filter: brightness(0.4);
}

#container #content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  #container #content-box {
    display: inline;
  }
}

#container #content-box .online-shop {
  color: white;
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

#container #content-box .online-shop h2 {
  padding: 10px;
}

#container #content-box .online-shop p {
  padding: 5px;
  padding-bottom: 25px;
}

#container #content-box .online-shop img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
          filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
  width: 60px;
}

#container #content-box .box-shop {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#container #content-box .box-shop:hover {
  background: #ffffff;
  color: #004884;
}

#container .message {
  color: white;
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

#container .message img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
          filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
  width: 50px;
}

#container .message h2 {
  text-align: center;
  padding: 10px;
}

#container .message p {
  text-align: center;
  padding: 5px 150px;
}

@media screen and (max-width: 1024px) {
  #container .message p {
    padding: 5px 50px;
  }
}

@media screen and (max-width: 767px) {
  #container .message p {
    padding: 5px 30px;
    font-size: 14px;
    line-height: 25px;
  }
}

#box {
  background-image: url(./img/box2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -50px;
  height: 400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  #box {
    height: 700px;
    background-position-y: 0px;
    background-position: center;
  }
}

#info-containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  #info-containter {
    display: inline;
  }
}

#info-containter #info {
  margin: 0px 100px;
  padding: 120px 150px;
}

@media screen and (max-width: 1024px) {
  #info-containter #info {
    margin: 0px 50px;
    padding: 50px 150px;
  }
}

@media screen and (max-width: 767px) {
  #info-containter #info {
    padding: 50px 50px;
    margin: auto;
  }
}

#info-containter #info h1 {
  font-size: 24pt;
  color: #004884;
}

@media screen and (max-width: 1024px) {
  #info-containter #info h1 {
    font-size: 30pt;
  }
}

#info-containter #info p {
  color: #556f87;
}

@media screen and (max-width: 1024px) {
  #info-containter #info p {
    font-size: 14pt;
  }
}

#info-containter #map img {
  width: 500px;
  margin: 100px 130px;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  #info-containter #map img {
    margin: 50px 90px;
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  #info-containter #map img {
    width: 100%;
    margin: 50px auto;
  }
}

/* 頁尾 */
footer {
  padding: 20px 0 5px;
  background-color: #fbf7f0;
  text-align: center;
}

.footer-logo {
  width: 300px;
  height: 70px;
  display: inline-block;
  background-image: url(./img/LTlogo-full.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
  text-decoration: none;
}

.footer-logo:hover {
  opacity: 0.4;
}

.footer-block h4 {
  color: #024679;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
}

.icon img {
  width: 32px;
  display: inline-block;
  padding-top: 25px;
}

.icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.icon a:hover {
  opacity: 0.4;
}

footer hr {
  width: 100%;
  margin: 20px auto -10px;
  opacity: 0.3;
}

footer p {
  color: #024679;
  font-size: 14px;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */