// RWD：桌上、平板、手機
$desktop: 1025px;
$tablet: 1024px;
$mobile: 767px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Navbar Start
#wrapper {
  overflow: hidden;
}

#navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 5px 5vw;
  z-index: 2;
  transition: 0.4s ease-out;
  background-color: #fff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  .link {
    float: left;
    padding-top: 22px;
    position: absolute;
    top: 0;
    left: calc(25% - 90px);
    transform: translatex(-50%);
    @media screen and (max-width: $tablet) {
      transform: translatex(-30%);
    }
  }
  .link ul {
    display: flex;
    list-style: none;
    li {
      overflow: hidden;
      .en,
      .ch {
        position: relative;
        transition: opacity 0.3s;
        @media screen and (max-width: $tablet) {
          font-size: 5pt;
        }
      }
      .en {
        display: flex;
        justify-content: center;
        letter-spacing: 5px;
        font-weight: 300;
        @media screen and (max-width: $tablet) {
          letter-spacing: 2px;
        }
      }
      .ch {
        position: absolute;
        top: 22px;
        opacity: 0;
        display: flex;
        justify-content: center;
        letter-spacing: 5px;
        font-weight: 600;
        @media screen and (max-width: $tablet) {
          letter-spacing: 2px;
        }
      }
      a {
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        padding: 0 15px;
        color: #004884;
        &:hover .en {
          opacity: 0;
        }
        &:hover .ch {
          opacity: 1;
          z-index: 2;
        }
      }
    }
  }

  .brand a {
    width: 75px;
    height: 75px;
    display: inline-block;
    background-image: url(./img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    &:hover {
      opacity: 0.75;
    }
  }

  .icon {
    float: right;
    padding-right: 70px;
    position: absolute;
    right: 0;
    top: 54%;
    transform: translateY(-75%);
    // @media screen and(max-width:$moblie) {
    //   margin-right: -10px;
    //   padding-right: 5px;
    // }

    img {
      width: 20px;
    }
    a {
      display: inline-block;
      padding: 0 10px 0;
      filter: opacity(100%);
      transition: 0.5s;
      &:hover {
        opacity: 0.4;
      }
    }
  }
  .order {
    float: right;
    position: absolute;
    right: 11%;
    top: 54%;
    transform: translateY(-50%);
    @media screen and (max-width: $tablet) {
      right: 22%;
    }
    // @media screen and(max-width:$moblie) {
    //   right: 10%;
    //   padding-right: 10px;
    // }
    a {
      padding: 0 10px;

      img {
        display: inline-block;
        width: 22px;
        height: 22px;
        filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
        transition: 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
// #menu-box {
//   top: 60px;
//   height: 100vh;
//   width: 100vw;
//   background-color: rgba(220, 220, 220, 0.6);
//   position: fixed;
//   z-index: 5;

//   #menu {
//     margin-top: 10px;
//     text-align: center;
//     position: fixed;
//     z-index: 7;
//     top: 60px;
//     @media screen and(max-width:$moblie) {
//       height: 100vh;
//     }
//     @media screen and(max-width:$table) {
//       width: 375px;
//       height: 100vh;
//     }
//     @media screen and (min-width: $desktop) {
//       display: none;
//     }
//     #menu-box2 {
//       width: 375px;
//       height: 100vh;
//       background-color: #004884;
//       opacity: 0.9;
//       z-index: 7;
//       h4 {
//         line-height: 2;
//         color: #fff;
//       }
//       #menu-logo {
//         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(103%) contrast(101%);
//         img {
//           width: 300px;
//         }
//         margin-top: 50px;
//         @media screen and(max-width:$table) {
//           margin-top: 200px;
//         }
//         @media screen and(max-width:$moblie) {
//           margin-top: 50px;
//         }
       
//       }
//       .menu-icon {
//         margin: 30px 20px;
//         width: 40px;
//         z-index: 8;
//         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(103%) contrast(101%);
//       }

//       a {
//         display: inline-block;
//         text-decoration: none;
//         color: #fff;
//         font-size: 28px;
//         margin-top: 40px;
//         @media screen and(max-width:$table) {
//           margin-top: 60px;
//         }
        
//       }

//       .menu-text {
//         width: 375px;
//         text-align: center;
//         margin-bottom: 10px;
//       }
//     }
//   }
// }
// navbar End

// 橫幅
#about-banner {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 70px;
  }
  #about-desktop {
    @media screen and (min-width: $desktop) {
      display: inline;
    }
    @media screen and (max-width: $tablet) {
      display: none;
    }
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  #about-ipad {
    @media screen and (min-width: $desktop) {
      display: none;
    }
    @media screen and (max-width: $tablet) {
      display: inline;
    }
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  #about-phone {
    @media screen and (min-width: $desktop) {
      display: none;
    }
    @media screen and (max-width: $tablet) {
      display: none;
    }
    @media screen and (max-width: $mobile) {
      display: inline;
    }
  }
}

.title {
  text-align: center;
  position: relative;
  img {
    width: 60px;
    height: 40px;
    margin: 30px 10px 0;
    @media screen and (max-width: $mobile) {
      width: 30px;
      height: 20px;
      margin: 30px 10px 0;
    }
  }
  h1 {
    display: inline-block;
    vertical-align: 40%;
    color: #004884;
    font-weight: 300;
    @media screen and (max-width: $mobile) {
      font-size: 18px;
    }
  }
}

#about-containter {
  display: flex;
  // height: 600px;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: $tablet) {
    display: inline;
  }
  @media screen and (max-width: $mobile) {
    display: inline;
  }
  #about-pic {
    // background-image: url(./img/interior-2.jpg);
    // background-size: cover;
    img {
      // padding: 50px 120px;
      // object-fit: cover;
      margin: 50px 120px;
      height: 500px;
      // background-position: center;
      border-radius: 15px;
      @media screen and (max-width: $tablet) {
        margin: 0 50px;
      }
      @media screen and (max-width: $mobile) {
        margin: 30px auto;
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
  }

  #about-text {
    @media screen and (min-width: $desktop) {
      margin: 50px 10px;
    }
    @media screen and (max-width: $tablet) {
      margin: 50px 100px;
    }
    @media screen and (max-width: $mobile) {
      margin: 0px 50px 30px;
    }
    // text-align: left;
    h1 {
      padding-top: 80px;
      font-size: 26pt;
      color: #004884;
      @media screen and (max-width: $tablet) {
        padding-top: 0px;
      }
      @media screen and (max-width: $mobile) {
        padding-top: 0px;
        font-size: 20pt;
      }
    }
    p {
      font-size: 12pt;
      padding-right: 250px;
      color: #556f87;
      @media screen and (max-width: $tablet) {
        padding-right: 0px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 10pt;
      }
    }
  }
}

#container {
  position: relative;

  &:hover #box {
    -webkit-filter: brightness(0.4);
  }

  #content-box {
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: 0;
    z-index: 1;
    // pointer-events: none;
    @media screen and (max-width: $tablet) {
    }
    @media screen and (max-width: $mobile) {
      display: inline;
    }

    .online-shop {
      color: white;
      margin-top: 100px;
      width: 100%;
      text-align: center;

      h2 {
        // text-align: center;
        padding: 10px;
      }
      p {
        // text-align: center;
        padding: 5px;
        padding-bottom: 25px;
      }
      img {
        filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
        width: 60px;
        // margin-left: 390px;
      }
    }
    .box-shop {
      text-decoration: none;
      color: white;
      border: 1px solid white;
      border-radius: 20px;
      padding: 8px 15px;
      // margin-left:370px;
      margin-top: 70px;
      transition: 0.3s;
      &:hover {
        background: #ffffff;
        color: #004884;
      }
    }
  }
  .message {
    color: white;
    margin-top: 100px;
    width: 100%;
    text-align: center;

    img {
      filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
      width: 50px;
      // margin:auto;
    }
    h2 {
      text-align: center;
      padding: 10px;
    }
    p {
      text-align: center;
      padding: 5px 150px;
      @media screen and (max-width: $tablet) {
        padding: 5px 50px;
      }
      @media screen and (max-width: $mobile) {
        padding: 5px 30px;
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
}

#box {
  background-image: url(./img/box2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -50px;
  height: 400px;
  transition: 1s;
  @media screen and (max-width: $tablet) {
  }
  @media screen and (max-width: $mobile) {
    height: 700px;
    background-position-y: 0px;
    background-position: center;
  }
}

#info-containter {
  // height: 500px;
  display: flex;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  @media screen and (max-width: $tablet) {
    display: inline;
  }

  #info {
    margin: 0px 100px;
    padding: 120px 150px;
    @media screen and (max-width: $tablet) {
      margin: 0px 50px;
      padding: 50px 150px;
    }
    @media screen and (max-width: $mobile) {
      padding: 50px 50px;
      margin: auto;
    }
    h1 {
      font-size: 24pt;
      color: #004884;
      @media screen and (max-width: $tablet) {
        font-size: 20pt;
      }
    }
    p {
      color: #556f87;
      @media screen and (max-width: $tablet) {
        font-size: 12pt;
      }
    }
  }

  #map {
    img {
      width: 500px;
      margin: 100px 130px;
      border-radius: 15px;
      @media screen and (max-width: $tablet) {
        margin: 50px 90px;
        width: 600px;
      }
      @media screen and (max-width: $mobile) {
        width: 100%;
        margin: 50px auto;
      }
    }
  }
}

/* 頁尾 */
footer {
  // margin: 0;
  padding: 20px 0 5px;
  // background-color: #024679;
  background-color: #fbf7f0;
  // margin-top: 50px;
  text-align: center;
}

.footer-logo {
  // border: 1px solid #000;
  width: 300px;
  height: 70px;
  display: inline-block;
  background-image: url(./img/LTlogo-full.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  margin-bottom: 30px;
  text-decoration: none;
}
.footer-logo:hover {
  opacity: 0.4;
}

.footer-block h4 {
  color: #024679;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
}
.icon img {
  width: 32px;
  display: inline-block;
  padding-top: 25px;
}
.icon a {
  display: inline-block;
  padding: 0 10px 0;
  filter: opacity(100%);
  transition: 0.5s;
  &:hover {
    opacity: 0.4;
  }
}
footer hr {
  width: 100%;
  margin: 20px auto -10px;
  opacity: 0.3;
}

footer p {
  color: #024679;
  font-size: 14px;
  margin-top: 20px;
}
