// RWD：桌上、平板、手機
$desktop: 1025px;
$table: 1024px;
$mobile: 767px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 橫幅
#about-banner {
    background-image: url(./img/BN.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;
    
    @media screen and (max-width: $table) {
        background-size: contain;
        background-position-y: 0px;
        height: 200px;
        
        }
    @media screen and (max-width: $mobile) {
        background-size: contain;   
        height: 100px;
        }
}

.title {
    text-align: center;
    position: relative;
    img {
      width: 60px;
      height: 40px;
      margin: 30px 10px 0;
      @media screen and (max-width: $mobile) {
        width: 30px;
        height: 20px;
        margin: 30px 10px 0;
    }
    }
    h1 {
      display: inline-block;
      vertical-align: 40%;
      color: #004884;
      font-weight: 300;
      @media screen and (max-width: $mobile) {
        font-size: 18px;
    }
    }
   
  }

#about-handmade {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: $table) {
        grid-template-columns: repeat(1, 1fr);
        
        }
     @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(1, 1fr);
        } 
    #handmade {
        background-image: url(./img/interior-2.jpg);
        background-size: cover;
        margin: 50px 120px;
        height: 500px;
        background-position: center;
        border-radius: 15px;
        @media screen and (max-width: $table) {
            margin: 50px 100px;
            
            }
    }

    #about-title {
        padding-top: 150px;
        font-size: 18pt;
        color: #004884;
        @media screen and (max-width: $table) {
            padding: 120px 50px;
            
            }
        p {
            font-size: 12pt;
            padding-right: 250px;
            color:#556f87;
        }
    }
}

#box {
   background-image: url(./img/box2.jpg);
   background-attachment: fixed;
   background-size: cover;
    background-position-y: -50px;
   height: 400px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   transition:0.5s;
   &:hover{
       .online-shop {
        backdrop-filter:opacity(40%)brightness(30%) ;
        //    -webkit-filter:brightness(0.4)
       }
   }
    

   
   
  
   
   .online-shop{
        // backdrop-filter:opacity(40%)brightness(30%);
        
        color:white;
        margin-top: 100px;
       
        h2{
        text-align: center;
        padding: 10px;
        
        }
        p{
            text-align: center;
            padding: 5px;
            padding-bottom: 25px;
            
        }
        img{
            filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
            width: 60px;
            margin-left:390px;
            
        }
        .box-shop{
            text-decoration: none;
            color:white;
            border:1px solid white;
            border-radius: 20px;
            padding: 8px 15px;
            margin-left: 370px;
            margin-top: 50px;
            transition: 0.3s;
            &:hover {
                background: #ffffff;
                color:#004884;
              }
        }
    }
    .message{
        color:white;
        margin-top: 100px;
        img{
            filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
            width: 50px;
            margin-left:400px;
        }
        h2{
            text-align: center;
            padding: 10px;
        }
         p{
            text-align: center;
            padding: 5px 150px;
            
        }
}

}

#about-text {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: $table) {
        grid-template-columns: repeat(1, 1fr);
        
        }
     @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(1, 1fr);
        } 

    #info {
        padding: 120px 150px;
        h1 {
            font-size: 24pt;
            color:#004884;
        }
        p{
            color:#556f87;
        }
    }

    #map {
        img{
            width: 500px;
            margin-top: 100px;
            // padding-top: 100px;
            border-radius: 15px;
            
        }
        // padding: 50px;
        // border-radius: 15px;
        
    }
}

/* 頁尾 */
footer {
    // margin: 0;
    padding: 20px 0 5px;
    // background-color: #024679;
    background-color: #fbf7f0;
    // margin-top: 50px;
    text-align: center;
}

.footer-logo {
    // border: 1px solid #000;
    width: 300px;
    height: 70px;
    display: inline-block;
    background-image: url(./img/LTlogo-full.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    margin-bottom: 30px;
    text-decoration: none;
}
.footer-logo:hover {
    opacity: 0.4;
}

.footer-block h4 {
    color: #024679;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
}
.icon img {
    width: 32px;
    display: inline-block;
    padding-top: 25px;
}
.icon a {
    display: inline-block;
    padding: 0 10px 0;
    filter: opacity(100%);
    transition: 0.5s;
    &:hover {
        opacity: 0.4;
    }
}
footer hr {
    width: 100%;
    margin: 20px auto -10px;
    opacity: 0.3;
}

footer p {
    color: #024679;
    font-size: 14px;
    margin-top: 20px;
 }

