* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 橫幅
#about-banner {
    background-image: url(./img/BN.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position-y: -40px;
    h1 {
        color: white;
        text-align: center;
        padding-top: 130px;
        letter-spacing: 5px;
        font-weight: 500;
    }
}

#about-handmade {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    #handmade {
        background-image: url(./img/interior-2.jpg);
        background-size: cover;
        margin: 50px 120px;
        height: 500px;
        background-position: center;
    }

    #about-title {
        padding-top: 150px;
        font-size: 18pt;
        color: #004884;
        p {
            font-size: 12pt;
            padding-right: 250px;
            color:#556f87;
        }
    }
}





#about-text {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    #info {
        padding: 120px 150px;
        h1 {
            font-size: 24pt;
            color:#004884;
        }
        p{
            color:#556f87;
        }
    }

    #map {
        padding: 50px;
    }
}

/* 頁尾 */
footer {
    // margin: 0;
    padding: 20px 0 5px;
    // background-color: #024679;
    background-color: #fbf7f0;
    // margin-top: 50px;
    text-align: center;
}

.footer-logo {
    // border: 1px solid #000;
    width: 300px;
    height: 70px;
    display: inline-block;
    background-image: url(./img/LTlogo-full.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    margin-bottom: 30px;
    text-decoration: none;
}
.footer-logo:hover {
    opacity: 0.4;
}

.footer-block h4 {
    color: #024679;
    line-height: 25px;
    font-weight: 300;
    font-size: 14px;
}
.icon img {
    width: 32px;
    display: inline-block;
    padding-top: 25px;
}
.icon a {
    display: inline-block;
    padding: 0 10px 0;
    filter: opacity(100%);
    transition: 0.5s;
    &:hover {
        opacity: 0.4;
    }
}
footer hr {
    width: 100%;
    margin: 20px auto -10px;
    opacity: 0.3;
}

footer p {
    color: #024679;
    font-size: 14px;
    margin-top: 20px;
}
